/* ==========================
   Light Theme
========================== */

:root{

    --primary:#0F5EAB;
    --primary-hover:#0C4D8E;

    --background:#F5F7FA;
    --surface:#FFFFFF;

    --text:#222222;
    --text-light:#666666;

    --sidebar:#243447;
    --sidebar-hover:#30475E;
    --sidebar-text:#FFFFFF;

    --border:#DDDDDD;

    --success:#28A745;
    --warning:#FFC107;
    --danger:#DC3545;

    --shadow:0 4px 10px rgba(0,0,0,.08);

    --radius:10px;

}

body.dark-mode{

    --primary:#4D9EFF;

    --background:#121212;
    --surface:#1E1E1E;

    --text:#FFFFFF;
    --text-light:#BBBBBB;

    --sidebar:#181818;
    --sidebar-hover:#252525;
    --sidebar-text:#FFFFFF;

    --border:#333333;

    --shadow:0 4px 10px rgba(0,0,0,.35);

}